body, html {
    /* Margin bottom by footer height */
    height: 80%;
}

.bgAboutMe {
    background-image: url('images/sl1.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat
}
