@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div class="container">
    <div class="text-center">
        <h1>Welcome!</h1>
        <h2>Create & Oraganize Your E-Library!</h2>
    </div>
    <div align="center">
        <img width=32% height=32% src="~/css/images/Xlib1.png" />
    </div>
    <div>
        <img src="~/css/images/sl2.jpg" />
    </div>
</div>
