@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<br />
<body>
    <div class="container">
        <div class="text-center">
            <h1>Welcome!</h1>
            <h2>Create & Oraganize Your E-Library!</h2>
        </div>
        <div align="center">
            <img width=32% height=32% src="~/css/images/Xlib1.png" />
        </div>
        <div>
            <pre>





      
</pre>
        </div>
    </div>
    <div>
        <img width="100%" alt="ZEN" src="~/css/images/sl1.jpg" />
    </div>

</body>
