@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<pre>We Handle Your Data With Authorization,No Data Is Shared With Third Parties.
Your Privacy Is Protected - XLibApp    
    </pre>
